.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 60px; /* Set the height */
    position: sticky; /* Or position: fixed; if you want it to stay when scrolling */
    top: 0; /* Align it to the top */
    z-index: 100; /* Ensure it's above other content */
}

.navbar-left {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 20px;
    color: #FF746C;
}

.navbar-right {
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
    color: whitesmoke;
}

.logout-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #c9302c;
}